p {
  color: rgb(255, 209, 204);
  font-size: 20px;
}

h1 {
  text-align: center;
  background-color: grey;
  font-family: cursive;
  text-decoration: blink;
  position: sticky;
  top: 2px;
}

h2 {
  text-decoration: underline;
}

body {
  background-color: rgba(35, 71, 189, 0.671);
  width: 1500px;
  margin: 0 auto;
}

.container {
  height: 50px;
  position: relative;
  width: 200px;
  border: 2px none green;
  margin: auto auto;
}

footer {
  text-align: center;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure img {
  width: auto;
  margin: 0px auto;
}

header.SendLocation {
  width: 400px;
  margin: 30px auto;
}

header button {
  width: 100px;
  margin: 15px 50px;
}
